<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Homepage</title>
</head>

<body>
    <div class="container">
     <h1>Create a new Intinerary</h1>
     <form action="/budgets" method="POST">
      
        Date: <input type="text" name="date" /></br>
        Name: <input type="text" name="name" /></br>
        Amount: <input type="text" name="amount" /></br>
        From: <input type="text" name="from" /></br>
        Tags: <input type="text" name="tags" /></br>

        <input type="submit" name="Add New Data">
  </form>
    </div>
</body>